---
layout: default
title: Pinewood Greens
---

<div class="row">
	            <div class="col-md-9">
		    {% include pooljumbotron.html %} 
</div>
		    <div class="col-md-3"><div class="row">
<iframe align="center" style="border: solid 1px #777"
                                                                        width="270" height="400"
                                                                        src="https://calendar.google.com/calendar/embed?height=400&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=cGluZXdvb2RncmVlbnMuY29tXzhkbGdyMjl1a2hvOHBzMHY4ZHVtdnM0aHEwQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23616161&amp;title=Association%20Calendar&amp;mode=AGENDA&amp;showNav=0&amp;showTabs=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=1"
                                                                        frameborder="5" scrolling="no"></iframe></div>
	  </div>

</div>
				
<div class="row">
<div class="col-md-12">
<p>For the most up-to-date announcements and news visit our <a href="http://www.facebook.com/PinewoodGreens">Facebook page</a>.</p>
</div>
</div>
<div class="row">
	            <div class="col-md-6">
<div class="panel panel-primary">
			<div class="panel-heading">Announcements</div>
<div class="panel-body">
 {% capture fileContent %}
{% include announcements.md %}
{% endcapture %}
{{ fileContent | markdownify }}
</div>
</div>
	            </div>
<div class="col-md-6">
<div class=" panel panel-primary">
			<div class="panel-heading">Neighborhood News</div>
<div class="panel-body">

<style type="text/css">
<!--
.display_archive {font-family: helvetica,sans-serif; font-size: 14px;}
.campaign {line-height: 125%; margin: 5px;}
//-->
</style>
<script language="javascript" src="//pinewoodgreens.us11.list-manage.com/generate-js/?u=ccb02905102f08c37b4d2ec3e&fid=13409&show=10" type="text/javascript"></script>

<a href="newsarchive.html">See All Newsletters...</a>
</div></div>
	            </div>
</div>

 
