 <div class="jumbotron jumbotron--bg-treecover">
                        <div class="container jumbotron-overlay">
                            <h2 class="text-center whitetext">Upcoming Changes to Trash and Recycling Service</h1>
                            <p class="whitetext">Our trash collection company, American Disposal Services (ADS), has given notice that they are changing our trash and recycling collection to once per week, on Wednesdays, beginning the week of October 3.</p>
<p class="whitetext">Additional details are in our email newsletter, which is available under Neighborhood News on this page.</p>
</div>
</div>
