 <div class="jumbotron" style="background: url('images/treecover.jpg') 50% 0 no-repeat;">
                        <div class="container" style="background-color: rgba(0,0,0,0.8);">
                            <h1 class="text-center" style="color: #fff;">Annual Membership Meeting</h1>
                            <p class="whitetext">Our annual meeting of homeowners is March 25, 2020 at 7 PM in the community center. Please return the two proxy forms mailed in January as soon as possible. Details and links to the proxy forms are under Announcements below.</p>
                               <p class="text-center"> <a class="btn btn-primary btn-large" href="documents/forms/Annual_Meeting_Proxy_Form_2019.pdf">Get Proxy Form</a></p>
</div>
</div>
