 <div class="jumbotron" style="background: url('images/treecover.jpg') 50% 0 no-repeat;">
                        <div class="container" style="background-color: rgba(0,0,0,0.8);">
                            <h1 class="text-center" style="color: #fff;">Annual Membership Meeting</h1>
                            <p class="whitetext">Our annual meeting of homeowners will be on Wednesday, March 23, 2022 at 7 PM. The annual meeting will be done via Zoom. The link and call information will be provided on this website closer to the start of the meeting.</p>
</div>
</div>
