 <div class="jumbotron" style="background: url('images/treecover.jpg') 50% 0 no-repeat;">
                        <div class="container" style="background-color: rgba(0,0,0,0.8);">
                            <h1 class="text-center" style="color: #fff;">Virtual Annual Membership Meeting</h1>
                            <p class="whitetext">Our annual meeting of homeowners will be on Wednesday, March 24, 2021 at 7 PM. Due to ongoing indoor meeting restrictions, the annual meeting will be done via Zoom. Please join with a computer or smartphone by using this link: </p>
                            <p class="whitetext"><a href="https://zoom.us/j/91600337710?pwd=cE9DVjhwck0xWm5nMXphWDFiM2hqZz09">https://zoom.us/j/91600337710?pwd=cE9DVjhwck0xWm5nMXphWDFiM2hqZz09</a></p>
                            <p class="whitetext">To dial in by phone only, call 301-715-8592 , and enter meeting ID 916 0033 7710 and passcode 408999 when prompted.</p> 
</div>
</div>
