 <div class="jumbotron jumbotron--bg-treecover">
                        <div class="container jumbotron-overlay--deep">
                            <h1 class="text-center whitetext">Join our Mailing List!</h1>
                            <p class="whitetext">Keep up to date with the latest neighborhood news, including social events, neighborhood services, and more.
                               <p class="text-center"> <a class="btn btn-primary btn-large" href="subscribe.html">Subscribe Today</a></p>

</div>
</div>
