 <div class="jumbotron jumbotron--bg-pool">
                        <div class="container jumbotron-overlay--deep">
                            <h1 class="text-center whitetext">Pool Season is Here!</h1>
                            <p class="whitetext">To enjoy this great neighborhood benefit, everyone must sign up.  This includes everyone in your entire household.  To apply, use our convenient online application.
                               <p class="text-center"> <a class="btn btn-primary btn-large" href="https://forms.gle/ZQ8SZq9LguVVBZTaA">Apply Online</a></p>

</div>
</div>
