 <div class="jumbotron" style="background: url('images/treecover.jpg') 50% 0 no-repeat;">
                        <div class="container" style="background-color: rgba(0,0,0,0.8);">
                            <h1 class="text-center" style="color: #fff;">Recycling Pickup Delayed</h1>
                            <p class="whitetext">American Disposal has had to delay our recycling pickup from Friday, 2/28 to Saturday, 2/29. Please leave your recycling out for pickup in the morning.</p>
</div>
</div>
