 <div class="jumbotron jumbotron--bg-treecover">
                        <div class="container jumbotron-overlay">
                            <h2 class="text-center whitetext">"Know Your Neighborhood" Scavenger Hunt</h1>
                            <p class="whitetext">Use our socially distanced scavenger hunt to explore our beautiful and abundant common areas in the neighborhood.</p>
<p class="whitetext"> Details are included in our <a href="https://us11.campaign-archive.com/?u=ccb02905102f08c37b4d2ec3e&id=e859844d8c"> August newsletter</a>. </p>
</div>
</div>
